.header__logo {
    max-width: 142px;
    padding-bottom: 41px;
}

@media (max-width: 945px) {
    .header__logo {
        padding-left: 28px;
    }
}

@media (min-width: 320px) and (max-width: 580px) {
    .header__logo {
        padding-bottom: 31.6px;
        max-width: 103.74px;
    }
}