.register__popup-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 32px auto 35px;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 740px) {
    .register__popup-title {
        font-size: 20px;
        line-height: 24px;
    }
    
}