.register__form {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 740px) {
    .register__form {
        max-width: 260px;
    }
}