.popup__close {
    max-width: 40px;
    position: absolute;
    right: -40px;
    top: -40px;
    color: #fff;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
}

.popup__close:hover {
    opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 740px) {
    .popup__close {
        max-width: 26px;
        right: 0;
    }
}