.profile__redact-img {
    cursor: pointer;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background: #000 url(../../../images/karandash.svg) no-repeat 50%;
}

.profile__redact-img:hover {
    opacity: 0.8;
}