.footer {
    margin: 67px auto 60px;
    max-width: 880px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21,78px;
}

@media (min-width: 320px) and (max-width: 945px) {
    .footer {
        margin: 48px auto 36px;
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
    }
}