@media (min-width: 320px) and (max-width: 900px) {
    .navbar {
        padding-right: 30px;
        position: relative;
        margin: 4px 30px 0 0;
        cursor: pointer;
    }
}

@media (min-width: 320px) and (max-width: 900px) {
    .navbar {
        padding-right: 0px;
    }
}