@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/main/main.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/profile__redact-img/profile__redact-img);
@import url(./blocks/profile/profile__redact-image/profile__redact-image);
@import url(./blocks/profile/__block/profile__block.css);
@import url(./blocks/profile/__jack/profile__jack.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title-button/profile__title-button.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__eidt/profile__edit.css);
@import url(./blocks/profile/__vector-button/profile__vector-button.css);
@import url(./blocks/profile/__vector/profile__vector.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__delete/_hidden/element__delete_hidden.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__img/_opened/element__img_opened.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__block/element__block.css);
@import url(./blocks/element/__like-btn/element__like-btn.css);
@import url(./blocks/element/__like-btn/element__like_number.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__group/_active/element__group_active.css);
@import url(./blocks/element/__like-btn/element__like_type_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__img/footer__img.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title-delete/form__title-delete.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/form/form.css);
@import url(./blocks/popup/_img/popup_img.css);
@import url(./blocks/popup/__container/_img/popup__container_img.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/form/__button/_valid/form__button_valid.css);
@import url(./blocks/form/__button/_invalid/form__button_invalid.css);
@import url(./blocks/form/__input/form__input-error.css);
@import url(./blocks/form/__input/form__input-border-error.css);
@import url(./blocks/form/__input/form__input-border-error-title.css);
@import url(./blocks/spinner/spinner.css);